<section class="firstInfo">
  <div class="locationOrigin">
    <div class="location-wrapper">
      <div class="location__display">
        <h2 class="heading-section location--heading">Rösterei & Café</h2>
        <p class="text-section text--kiel">
          Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen
          Rösterei, serviert im gemütlichen Café in der Innenstadt
        </p>
        <table>
          <tr>
            <td>Komm uns besuchen!</td>
            <td>Mo - Fr 8-18 Uhr</td>
          </tr>
          <tr>
            <td>Fraunhoferstr. 3, Kiel</td>
            <td>Sa - 18 Uhr</td>
          </tr>
        </table>
      </div>
      <div class="location__img-box">
        <picture class="location__img">
          <source
            srcset="/images/FEND-Coffee-machine-2-desktop.jpg"
            media="(min-width:768px)"
          />
          <img src="/images/FEND-Coffee-machine-2.jpg" alt="Bild eines Cafés" />
        </picture>
      </div>
    </div>
    <div id="cafe--origin-container" class="origin-wrapper">
      <div class="origin__display">
        <h3 class="heading-subsection cafe--info-header">
          Frisches Gebäck von nebenan
        </h3>
        <p class="text-section text--bio cafe--infotext">
          Als es die ersten Hügel des Kursivgebirges erklommen hatte, warf es
          einen letzten Blick zurück auf die Skyline seiner Heimatstadt
          Buchstabhausen, die Headline von Alphabetdorf. Wehmütig lief ihm eine
          rhetorische Frage über die Wange, dann setzte es seinen Weg fort.
          Unterwegs traf es eine Copy. Die Copy warnte das Blindtextchen, da, wo
          sie herkäme wäre sie zigmal umgeschrieben worden und alles, was von
          ihrem Ursprung noch übrig wäre, sei das Wort "und" und das
          Blindtextchen solle umkehren und wieder in sein eigenes, sicheres Land
          zurückkehren.
        </p>
      </div>
    </div>
  </div>
</section>
