.region {
  &--wrapper {
    display: flex;
    flex-direction: column;
    @include respond(media-lg) {
      flex-direction: row;
    }
  }

  &--text {
    @include respond(media-lg) {
      width: 70%;
    }
  }
  &--img {
    margin-top: 3.5rem;
    align-self: flex-end;
  }
}
