.video--size {
  width: 20rem;
  height: 11rem;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include respond(media-lg) {
    width: 1241px;
    height: 698px;
    margin-bottom: 7.5rem;
  }
}
