<div class="image-gallery--container">
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/fend-danish-1-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/fend-danish-1.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/FEND-coffee-machine-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/FEND-coffee-machine.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/FEND-Coffee-latte-art-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/FEND-Coffee-latte-art.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/Fend-Coffee-sign-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/Fend-Coffee-sign.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/FEND-Coffee-latte-art-2-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/FEND-Coffee-latte-art-2.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/FEND-coffee-breakfast-1-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/FEND-coffee-breakfast-1.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/FEND-coffee-list-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/FEND-coffee-list.jpg" alt="Gebäck" />
    </picture>
  </div>
  <div class="image-gallery-image">
    <picture>
      <source
        srcset="/images/gallery/FEND-Coffee-latte-art-3-desktop.jpg"
        media="(min-width:768px)"
      />
      <img src="/images/gallery/FEND-Coffee-latte-art-3.jpg" alt="Gebäck" />
    </picture>
  </div>
</div>
