<nav class="mobilenav" id="mobileNav">
  <div class="mobilenav--container">
    <div class="mobilenav--close" id="navClose">
      <img src="/images/burger-menu-close.png" alt="close menu" />
    </div>
    <div class="mobilenav--links">
      <ul>
        <li class="mobilenav--link">
          <a href="../my-subpage/index.html"><h3>Das Cafè</h3></a>
        </li>
        <li class="mobilenav--link">
          <a href="../herkunft/index.html"><h3>Herkunft</h3></a>
        </li>
        <li class="mobilenav--link"><h3>Shop</h3></li>
      </ul>
    </div>
  </div>
</nav>
