.contact {
  margin-top: 2.1rem;
  margin-bottom: 2.5rem;
  @include respond(media-lg) {
    width: 50%;
  }
  &--flex {
    @include respond(media-lg) {
      display: flex;
    }
  }
  &--header {
    @include respond(media-lg) {
      width: 50%;
    }
  }
  &--label {
    display: inline-block;
    padding-bottom: 5px;
  }
  &--input {
    display: block;
    width: 100%;
    height: 2.5rem;
    border-width: 0 0 3px;
    border-color: black;
    margin-bottom: 2.5rem;
  }
  &--name {
    background-color: $grey-light;
  }
  &--name::placeholder {
    color: black;
    padding-left: 1rem;
  }
  &--email::placeholder {
    color: rgba(196, 196, 196, 1);
  }
  &--phone {
    background-color: $red-light;
    &::placeholder {
      padding-left: 1rem;
      color: rgba(255, 0, 0);
    }
  }
  &--select {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-bottom: 2.5rem;
  }
  &--textarea {
    width: 100%;
    font-family: inherit;
    border-width: 0 0 3px;
    border-color: black;
    margin-bottom: 2.5rem;
    &::placeholder {
      padding-top: 3.3rem;
    }
  }
  &--label__data {
    margin-left: 2rem;
    position: relative;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

/*Outer Box*/
.checkbox label::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: -22px;
}
/* Checkmark*/
.checkbox label::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 13px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
  position: absolute;
  left: -18px;
  top: 4px;
}

.checkbox label {
  position: relative;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
