<nav id="navbar">
  <div class="nav" id="navPolicies">
    <div class="mobile--menu">
      <div class="header__logobox--black logoDisplay" id="darkLogo">
        <a href="../index.html">
          <img
            src="../images/LogoBlack.png"
            class="header__logo"
            alt="Kaffeebohne in Quadrat"
        /></a>
      </div>
      <div class="mobile--menu-box" id="whiteBox">
        <img src="../images/burger-menu-white.png" alt="Menu" />
      </div>
      <div class="mobile--menu-box-black hidden" id="blackBox">
        <img src="/images/burger-menu-black.png" alt="Menu" />
      </div>
    </div>
    <div class="nav--bar">
      <ul class="nav--links">
        <li>
          <a
            class="nav--link nav--link__active nav--link--whiteBorder borderDark"
            href="#"
            >Das Café</a
          >
        </li>
        <li>
          <a
            class="nav--link nav--link--whiteBorder borderDark"
            href="../herkunft/index.html"
            >Herkunft</a
          >
        </li>
        <li>
          <a class="nav--link nav--link--whiteBorder borderDark" href=""
            >Shop</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
