.heading-primary {
  font-size: 4rem;
  color: $primary-white;
  @include respond(media-lg) {
    font-size: 6rem;
  }
}

.heading-sub {
  display: inline-block;
  font-size: 1.1rem;
  color: $primary-white;
}

.heading-section {
  font-size: 2.25rem;
}

.heading-subsection {
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
  @include respond(media-lg) {
    margin-top: 0;
  }
}
