.nav {
  display: flex;
  justify-content: space-between;

  @include respond(media-lg) {
    padding: 2% 7% 0 2%;
  }

  &--bar {
    display: none;
    @include respond(media-lg) {
      width: 30%;
      display: block;
    }
  }
  &--links {
    display: flex;
    justify-content: space-between;
  }
  &--link {
    text-decoration: none;
    color: $primary-white;
  }
  &--link:hover {
    font-size: 1.2rem;
  }
  &--link--whiteBorder::after {
    display: block;
    content: "";
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &--link--blackBorder::after {
    display: block;
    content: "";
    border-bottom: solid 1px black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  &--link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  &--link:active {
    font-weight: 900;
    border-bottom: solid 1px white;
  }
}
.nav--link__active {
  border: none !important;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.whiteBar {
  background-color: white;
}

.blackLinks {
  color: black;
}

.logoDisplay {
  display: none;
}

.mobile {
  &--menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    @include respond(media-lg) {
      width: auto;
      display: block;
      margin: 0;
    }
  }
  &--menu-box {
    @include respond(media-lg) {
      display: none;
    }
  }
  &--menu-box-black {
    @include respond(media-lg) {
      display: none;
    }
  }
}
