@import "variables";
@import "mixins";
@import "animations";
@import "base";
@import "components/hero";
@import "buttons";
@import "headings";
@import "footer";
@import "nav";
@import "header";
@import "subheader";
@import "image-gallery";
@import "info_cafe";
@import "herkunft/source";
@import "herkunft/video";
@import "herkunft/region";
@import "herkunft/wellbeing";
@import "policies/policies";
@import "contact/contact";

.heading-origin {
  color: $primary-white;
  align-self: center;
}
.locationOrigin {
  padding-left: 5%;
  padding-right: 5%;
  @include respond(media-lg) {
    padding: 0;
  }
}
.location {
  &__display {
    margin-top: 3.75rem;
    @include respond(media-lg) {
      margin: 0;
    }
  }
  &--heading {
    margin-bottom: 1.26rem;
  }
}

.text-section {
  font-size: 0.87rem;
  line-height: 18px;
  @include respond(media-lg) {
    font-size: 18px;
    line-height: 24px;
  }
}

.text--kiel {
  max-width: 500px;
  @include respond(media-lg) {
    font-size: 18px;
  }
}

.text--bio {
  max-width: 400px;
  line-height: 24px;
}

.location__img-box {
  align-self: flex-end;
  @include respond(media-lg) {
    align-self: center;
  }
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  @include respond(media-lg) {
    flex-direction: row;
    margin-top: 7.75rem;
    justify-content: space-around;
  }
}
.origin-wrapper {
  @include respond(media-lg) {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
}

#cafe--origin-container {
  @include respond(media-md) {
    margin-top: 5%;
  }
}
.origin__display {
  @include respond(media-lg) {
    align-self: center;
  }
}
.origin__img-box {
  margin-top: 2.5rem;
  margin-bottom: 3.75rem;
}

.shop {
  background-color: $primary-black;
}

.heading--shop {
  color: white;
  padding-top: 3.75rem;
  @include respond(media-lg) {
    max-width: 402px;
  }
}

.subheader-m {
  color: $primary-white;
}

.shop {
  &--view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &--pricetext {
    color: $grey;
  }
  &--view__two {
    display: flex;
    justify-content: space-around;
  }
  &--item {
    margin-top: 2.5rem;
  }
  &--icon {
    @include respond(media-lg) {
      width: 17px;
      height: 20px;
    }
  }
}

.product--highlight {
  z-index: 2;
  position: relative;
}
.origin {
  &--wrapper {
    height: 50vh;
    min-height: 300px;
    background-image: url(../images/FEND-Coffee-bags-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include respond(media-md) {
      background-image: url(../images/FEND-Coffee-bags-2-desktop.jpg);
    }
  }
  &--text {
    max-width: 80%;
    align-self: center;
    margin-top: 3%;
    color: $primary-white;
    line-height: 20px;
    @include respond(media-lg) {
      max-width: 306px;
      text-align: center;
    }
  }
  &--link {
    text-decoration: none;
    color: $primary-white;
    margin-top: 1.2rem;
  }
}
.content {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  &--flex {
    margin-bottom: 4.3rem;
  }
  &-heading {
    margin-top: 3.75rem;
    margin-bottom: 2.1rem;
  }
  &--image {
    margin-bottom: 2.6rem;
    @include respond(media-lg) {
      margin: 0;
      padding-right: 100px;
    }
  }

  &--iconwrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(media-lg) {
      flex-direction: column;
      justify-content: space-around;
      width: 400px;
      align-items: flex-start;
      padding-left: 100px;
    }
  }
  &--icon {
    width: 5.4rem;
    @include respond(media-lg) {
      display: flex;
      text-align: start;
    }
  }
  &--flex {
    @include respond(media-lg) {
      display: flex;
      justify-content: center;
    }
  }
  &--text {
    @include respond(media-lg) {
      padding-left: 30px;
    }
  }
  &--btn__container {
    width: 100%;
    display: flex;
    justify-content: center;
    @include respond(media-lg) {
      width: auto;
    }
  }
}

.map {
  &--heading {
    padding-left: 1.5rem;

    margin-bottom: 2.1rem;
  }
}

.widecontainer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
