<nav>
  <div class="nav">
    <div class="header__logobox">
      <a href="../index.html"
        ><img
          src="/images/Logo.png"
          class="header__logo"
          alt="Kaffeebohne in
          Quadrat"
      /></a>
    </div>
    <div class="nav--bar">
      <ul class="nav--links">
        <li>
          <a class="nav--link" href="../my-subpage/index.html">Das Café</a>
        </li>
        <li>
          <a class="nav--link nav--link__active" href="">Herkunft</a>
        </li>
        <li><a class="nav--link" href="">Shop</a></li>
      </ul>
    </div>
  </div>
</nav>
